// DEPEDENCIES
// http://codepen.io/jacksonthatsme/pen/PWjrMJ.scss
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

@font-face {
  font-family: 'PostGrotesk-Book';
  src:  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/PostGrotesk-Book.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/PostGrotesk-Book.woff') format('woff');
}

@font-face {
  font-family: 'PostGrotesk-Medium';
  src:  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/PostGrotesk-Medium.woff2') format('woff2'),
        url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/PostGrotesk-Medium.woff') format('woff');
}
// =========================

// Variables
// =========================


$sans-fallback: "San Francisco", "Helvetica Neue", "Helvetica", sans-serif;
$post-grotesk-book: "PostGrotesk-Book", #{$sans-fallback};
$post-grotesk-medium: "PostGrotesk-Medium", #{$sans-fallback};

// Base
// =========================
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
}

body {
  background-color: #EBEBEB;
}

img {
  display: block;
}

// Utilities
// ==========================

.w100p {
  width: 100%;
}

.w100vp {
  width: 100vw;
}

.mt100 {
  margin-top: 100px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.inline-block {
  display: inline-block;
}

.clip {
  overflow: hidden;
}

.o0p {
  opacity: 0;
}

// Colors
// ==========================

$grey-900: #272525;
$grey-800: #313132;
$grey-600: #5F5F60;
$grey-500: #989898;
$grey-400: #B7B7B7;
$white: #ffffff;

.grey-900 {
  color: $grey-900;
}
.grey-800 {
  color: $grey-800;
}
.grey-600 {
  color: $grey-600;
}
.grey-500 {
  color: $grey-500;
}
.grey-400 {
  color: $grey-400;
}
.white {
  color: $white;
}

.bg-grey-900 {
  background-color: $grey-900;
}

// Type
// ==========================

.type-serif {
  font-family: 'Libre Baskerville', serif;
}

.type-sans--medium {
  font-family: $post-grotesk-medium;
  font-weight: 600;
}

.type-sans--book {
  font-family: $post-grotesk-book;
  font-weight: 400;
}

.type-mega {
  font-size: 28px;
  line-height: 1.6em;
  @media #{$screen-sm-and-up} {
    font-size: 38px;
    line-height: 1.4em;
  }
  @media #{$screen-md-and-up} {
    font-size: 42px;
    line-height: 1.4em;
  }
  @media #{$screen-lg} {
    font-size: 48px;
    line-height: 1.4em;
  }
}

.type-large {
  font-size: 22px;
  line-height: 1.8em;
  @media #{$screen-md-and-up} {
    font-size: 26px;
    line-height: 1.8em;
  }
  @media #{$screen-lg} {
    font-size: 28px;
    line-height: 1.6em;
  }
}

.type-base {
  font-size: 14px;
  line-height: 1.6em;
  @media #{$screen-md-and-up} {
    font-size: 16px;
    line-height: 1.6em;
  }
}

.type-small {
  font-size: 14px;
  line-height: 1.4em;
}

.type-tiny {
  font-size: 12px;
  line-height: 1.2em;
}

// Custom
// ==========================

.masthead {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .button {
    padding-bottom: 30px;
  }
}

.bttn__container {
  width: 90px;
  height: 90px;
  position: relative;
  perspective: 800px;
  cursor: pointer;
}

.bttn {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-animation: bttn-flip 3200ms infinite linear;
  animation: bttn-flip 3200ms infinite linear;
  
  figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $post-grotesk-medium;
    text-transform: uppercase;
    border-radius: 50%;
    font-size: 13px;
    &.back {
      transform: rotateY( 180deg );
      background-color: #FFA487;
    }
  }
}



.vertical-align-push {
  padding-top: 7px;
}

.dash {
  width: 15px;
  height: 2px;
  background-color: $grey-900;
  margin: 10px 0px;
}

.bio-img {
  padding-bottom: 15px;
  padding-top: 12px;
}

section {
  
  &:not(.masthead) {
    padding-top: 200px;
  }
}

.description-block {
  margin-bottom: 30px;
  @media #{$screen-md-and-up} {
    margin-bottom: 45px;
  }
  
  &__label {
    padding-top: 10px;
    &:after {
      margin-top: 5px;
      height: 1px;
      width: 15px;
      background-color: $grey-600;
      display: block;
      content: "";
    }
    &:last-of-type {
      &:after {
        background-color: transparent;
      }
    }
  }
}

.browser {
  position: relative;

  &:after {
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    content: "";
    display: block;
    box-shadow: 0px 0px 48px 20px rgba($grey-900, 0.3);
  } 
  &__inner {
    background-color: $grey-900;
    padding-top: 2vw;
    position: relative;
    z-index: 2;
  }
}

.mobile {
  position: relative;

  &:after {
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    content: "";
    display: block;
    box-shadow: 0px 0px 48px 20px rgba($grey-900, 0.3);
    border-radius: 2vw;
  } 
  &__inner {
    background-color: $grey-900;
    padding-top: 4vw;
    border-radius: 2vw;
    padding-bottom: 4vw;
    position: relative;
    z-index: 2;
  }
}

.project__content {
  margin-top: 80px;
}

.pull-up {
  margin-top: -5vw;
  position: relative;
  z-index: 3;
}

.columns-2 {
  @media #{$screen-sm-and-up} {
    column-count: 2;
  }
}

.avoid-break {
  @media #{$screen-sm-and-up} {
    column-break-inside : avoid;
    display: inline-block;
    width: 100%;
  }
}


.artboard {
  &:before {
    content: attr(data-artboard-name);
    font-size: 10px;
    color: #939393;
    display: block;
    padding-bottom: 10px;
    font-family: $post-grotesk-book;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__inner {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,.5);
  }
}

video {
  width: 100% !important;
}

.media {
  position: relative;
  
  &__overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 200ms;
    &.hide {
      transform: scale(0);
    }
  }
}

.centered-object {
  display: flex;
  justify-content: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

// Animations
// ==========================

@-webkit-keyframes bttn-flip {
    from {-webkit-transform: rotateY(0deg);}
    to {-webkit-transform: rotateY(360deg);}
}

@keyframes bttn-flip {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}


// Scratch
// ===========================

.bp-indicator {
  position: fixed;
  height: 35px;
  width: 40px;
  bottom: 0px;
  left: 0px;
  background-color: red;
  z-index: 100;
  display: flex;
  &:before {
    content: "XS";
    margin: auto;  
    font-family: $post-grotesk-medium;
    font-weight: 600;
  }
  @media #{$screen-sm-and-up} {
    &:before {
      content: "SM";
    }
  }
  @media #{$screen-md-and-up} {
    &:before {
      content: "MD";
    }
  }
  @media #{$screen-lg} {
    &:before {
      content: "LG";
    }
  }
}

