%section.masthead
  .header
    .grid-container
      .grid-row
        .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
          .spacer-t-20
            .type-sans--medium.grey-800.type-small
              Jackson Lynch
        .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
          .spacer-t-small.header__links
            %a{:href => "https://mail.google.com/mail/?view=cm&fs=1&to=jacksonthatsme@gmail.com&su=%3Awave%3A", target: "_blank", class: "link type-sans--book grey-600 type-small header__link__item"}
              Email
            %a{:href => "#about", class: "link type-sans--book grey-600 type-small header__link__item", data: {'js': 'scroll-to-about'}}
              About
            %a{:href => "https://twitter.com/JacksonThatsMe", target: "_blank", class: "link type-sans--book grey-600 type-small header__link__item"}
              Twitter
            %a{:href => "https://www.instagram.com/_jacksonthatsme_/", target: "_blank", class: "link type-sans--book grey-600 type-small header__link__item"}
              Instagram
  .intro
    .grid-container
      .description-block
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .grid-row
              .col-4-22.col-sm-4-5.col-md-3-4
                .description-block__aside
                  %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/jacksonlynch.jpg", :alt => "", class: "w100p bio-img"}/
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-mega.grey-900.type-serif
              Hi! I’m Jackson. I design and build cool stuff for the web. Here are some of the things I’ve been doing:
  .button.spacer-b-20
    .grid-container
      .grid-row
        .col-offset-1-24.col-offset-sm-7-24.col-offset-md-6-24.col-offset-lg-4-24
          .bttn__container{data: {'js': 'scroll-down'}}
            .bttn
              %figure.front{data: {'js': 'button-front'}}
                Scroll
              %figure.back{data: {'js': 'button-back'}}
                Please
%section.spacer
%section.project.spacer-y-mega#brand_and_product
  .project__intro
    .grid-container
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Kickstarter
              .description-block__label
                Brand & Product
              .description-block__label
                2017

          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Most recently I have been working at the intersection of brand and product, helping Kickstarter to effectively communicate its mission throughout the web experience. While the efforts are ongoing, our goal has been to frame the diverse pool of projects funding at any given moment into a cohesive narrative that broadcasts our values and celebrates our creators, while providing relevant pathways into our discovery and creation channels.
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Role
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Lead Designer, Prototyper
      .description-block
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Credits
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main
              .type-large.grey-800.type-serif
                Zack Sears
              .type-tiny.grey-500.type-sans--book
                Design Direction
  .project__content.spacer-t-large
    .grid-container 
      .grid-row
        .col-22-24.col-offset-1-24.col-offset-lg-0-24
          .browser
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-1.png", :alt => "", class: "w100p"}/
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-2.png", :alt => "", class: "w100p"}/
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-3.png", :alt => "", class: "w100p"}/
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-4.png", :alt => "", class: "w100p"}/
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-5.png", :alt => "", class: "w100p"}/
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-6.png", :alt => "", class: "w100p"}/
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-7.png", :alt => "", class: "w100p"}/
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/brand_product-8.png", :alt => "", class: "w100p"}/
      .grid-row
        .col-offset-1-24.col-22-24.col-sm-11-24.col-md-11-24.col-lg-10-24.col-offset-lg-0-24
          .spacer-t-large
            .type-base.type-sans--medium.grey-800
              Show and Tell
            .type-base.type-sans--book.grey-600
              We saw a prime opportunity to use the homepage as an outlet to educate about the platform, and build report with the creative community. Our hypothesis was that a more opinionated, editorialized presentation of the material would elevate our content and reinforce our reputation as a home for creators. We tested these assumptions in a week long GV Design Sprint.

%section.project.spacer-y-mega#impact_report
  .project__intro
    .grid-container
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Kickstarter
              .description-block__label
                Impact Report
              .description-block__label
                2016

          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Just before that, I put together a mini-site to highlight really exceptional creator stories. I truly get the warm fuzzies every day seeing amazing ideas find success on Kickstarter. Working closely with Sarah Lim, we found a way to consolidate these stories into a framework that could scale easily, while emphasizing the unique qualities of each in an engaging experience.
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Role
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Lead Designer, Front-end Developer
      .description-block
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Credits
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main
              %ul.columns-2
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Sarah Lim
                  .type-tiny.grey-500.type-sans--book
                    Copywritter
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Justin Kazmark
                  .type-tiny.grey-500.type-sans--book
                    Editor
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Zack Sears
                  .type-tiny.grey-500.type-sans--book
                    Design Direction
  .project__content.spacer-t-large
    .grid-container
      .grid-row
        .col-full.col-sm-18-24
          .spacer-b-large
            .browser
              .browser__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-1.png", :alt => "", class: "w100p"}/
        .col-22-24.col-offset-1-24.col-sm-6-24.col-offset-sm-0-24
          .spacer-b-large
            .type-base.type-sans--medium.grey-800
              Focus on stories
            .type-base.type-sans--book.grey-600
              Following an independent study detailing the economic impact of Kickstarter over the last 7 years, we took the opportunity to pair the statistics with narratives about the people behind the projects and the communities that connected with them.  
      .grid-row
        .col-20-24.col-sm-18-24
          .browser
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-2.png", :alt => "", class: "w100p"}/
      .grid-row
        .col-offset-4-24.col-20-24.col-offset-sm-6-24.col-sm-18-24
          .browser.pull-up
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-3.png", :alt => "", class: "w100p"}/
      .grid-row
        .col-offset-1-24.col-22-24.col-offset-sm-6-24.col-sm-12-24.col-md-10-24
          .spacer-y-large
            .type-base.type-sans--medium.grey-800
              Honor the content
            .type-base.type-sans--book.grey-600
              It became really important to showcase these stories with the same amount of care and attention that the creators themselves put into their projects. We developed a pattern that gave each vignette it’s own singular moment, and promoted exploring through all of the stories by placing them in a continuous experience.
      .grid-row
        .col-20-24.col-sm-18-24
          .browser
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-4.png", :alt => "", class: "w100p"}/
      .grid-row
        .col-offset-4-24.col-20-24.col-offset-sm-6-24.col-sm-18-24
          .browser.pull-up
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-5.png", :alt => "", class: "w100p"}/
      
      .grid-row
        .col-8-24.col-sm-6-24
          .spacer-t-large
            .mobile
              .mobile__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-6.png", :alt => "", class: "w100p"}/
        .col-8-24.col-sm-6-24
          .spacer-t-large
            .mobile
              .mobile__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-8.png", :alt => "", class: "w100p"}/
        .col-8-24.col-sm-6-24
          .spacer-t-large
            .mobile
              .mobile__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/impact-7.png", :alt => "", class: "w100p"}/
      .grid-row
        .spacer-t-large
          .centered-object
            %a{:href => "https://www.kickstarter.com/impact", target: "_blank"}
              .bttn__container
                .bttn
                  %figure.front{data: {'js': 'button-front'}}
                    Visit
                  %figure.back{data: {'js': 'button-back'}}
                    Page

%section.project.spacer-t-mega#research_and_development
  .project__intro
    .grid-container
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Kickstarter
              .description-block__label
                Research & Development
              .description-block__label
                2015 &ndash; 2016

          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              For a long while, I was working with a small team of designers to conceptualize the future of Kickstarter, near term and long term. This project took us on a winding trail of discovery as we unraveled the product to date, analyzed everything, and synthesized our findings into a new iteration of the product that emphasized the power of the crowd.
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Role
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Designer, Prototyper
      .description-block
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Credits
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main
              %ul.columns-2
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif.lh-1-4
                    Nicole Yeo
                  .type-tiny.grey-500.type-sans--book
                    Designer
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif.lh-1-4
                    Courtney Burton
                  .type-tiny.grey-500.type-sans--book
                    Designer
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Stefan Dufgran
                  .type-tiny.grey-500.type-sans--book
                    Designer
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Chris Wiggins
                  .type-tiny.grey-500.type-sans--book
                    Creative Director
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Zack Sears
                  .type-tiny.grey-500.type-sans--book
                    Design Director
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Olivier Gillaizeau
                  .type-tiny.grey-500.type-sans--book
                    Design Director
                %li.spacer-b-small.avoid-break
                  .type-large.grey-800.type-serif
                    Sarah Lim
                  .type-tiny.grey-500.type-sans--book
                    Copywritter
  .project__content.w100vp.clip.spacer-t-large
    .grid-container
      .grid-row.grid-row-overflow-right
        .col-8-24
          .artboard{data: {'artboard-name': "Category Representation : Header"}}
            .artboard__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-1.png", :alt => "", class: "w100p"}/
        .col-8-24
          .artboard{data: {'artboard-name': "Category Representation : List Detail"}}
            .artboard__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-2.png", :alt => "", class: "w100p"}/
        .col-8-24
          .artboard{data: {'artboard-name': "Category Representation : List"}}
            .artboard__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-3.png", :alt => "", class: "w100p"}/
      .spacer-t-medium
        .grid-row.grid-row-overflow-right
          .col-8-24
            .artboard{data: {'artboard-name': "Categories : Tag Display"}}
              .artboard__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-4.png", :alt => "", class: "w100p"}/
          .col-8-24
            .artboard{data: {'artboard-name': "Stream : Recommended"}}
              .artboard__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-5.png", :alt => "", class: "w100p"}/
          .col-8-24
            .artboard{data: {'artboard-name': "Stream : Recommended Copy 2"}}
              .artboard__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-6.png", :alt => "", class: "w100p"}/
      .grid-row
        .col-offset-1-23.col-22-24.col-offset-sm-0-24.col-sm-11-24.col-md-11-24.col-lg-10-24
          .spacer-y-large
            .type-base.type-sans--medium.grey-800
              Concept car Kickstarter
            .type-base.type-sans--book.grey-600
              This nearly year long process became an exhaustive reimagining of the entire platform: as a team we crafted an entirely new UX pattern, overhauled the UI to fit, and introduced animation principles.  
    .grid-container
      .grid-full-width
        %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-7.png", :alt => "", class: "w100p"}/
        %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-8.png", :alt => "", class:"w100p"}/
        %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-9.png", :alt => "", class:"w100p"}/
        %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-10.png", :alt => "", class:"w100p"}/
    .grid-container
      .grid-row
        .col-offset-1-24.col-22-24.col-offset-sm-11-24.col-sm-11-24.col-md-11-24.col-lg-10-24
          .spacer-y-large
            .type-base.type-sans--medium.grey-800
              Show the crowd
            .type-base.type-sans--book.grey-600
              A main focus of the work was to provide more opportunities throughout the browse experience to contextualize projects. Concepts like badging and project collections were investigated as a way to differentiate projects in quality and in relevance to the user. Social influence was emphasized wherever available. 
    .grid-container
      .grid-row.grid-row-overflow-right
        .col-8-24
          .artboard{data: {'artboard-name': "Project Page :: Cover Image"}}
            .artboard__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-11.png", :alt => "", class: "w100p"}/
        .col-8-24
          .artboard{data: {'artboard-name': "Homepage :: Project Stream"}}
            .artboard__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-12.png", :alt => "", class: "w100p"}/
        .col-8-24
          .artboard{data: {'artboard-name': "Trending Projects Full"}}
            .artboard__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-13.png", :alt => "", class: "w100p"}/
      .spacer-t-medium.spacer-b-large
        .grid-row.grid-row-overflow-right
          .col-8-24
            .artboard{data: {'artboard-name': "Search Results"}}
              .artboard__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-14.png", :alt => "", class: "w100p"}/
          .col-8-24
            .artboard{data: {'artboard-name': "Curated Page :: Internal"}}
              .artboard__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-15.png", :alt => "", class: "w100p"}/
          .col-8-24
            .artboard{data: {'artboard-name': "Curated Collection"}}
              .artboard__inner
                %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d-16.png", :alt => "", class: "w100p"}/
  .project-content.clip.bg-grey-900
    .grid-container
      .grid-row
        .col-offset-1-24.col-22-24.col-offset-sm-0-24.col-sm-14-24.col-md-11-24.col-lg-10-24
          .spacer-y-large
            .type-base.type-sans--medium.white
              Keeping it smooth
            .type-base.type-sans--book.grey-400
              We made a conscious effort to ensure that there was a consistent and clear flow throughout the updated experience. To do so, we made motion prototyping a core part of our design process.
      .grid-row
        .col-8-24
          %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d__gif-1.gif", :alt => "", class: "w100p"}/
        .col-8-24
          %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d__gif-2.gif", :alt => "", class: "w100p"}/
        .col-8-24
          %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d__gif-3.gif", :alt => "", class: "w100p"}/
      .spacer-y-large
        .grid-row
          .col-center.col-full.col-sm-16-24
            .media.spacer-b-small{data: {'js': 'media-object'}}
              %video{preload: "none", poster: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d__media__poster-1.png"}
                %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/grv308blgvo3grp/r_and_d__media-1.mp4"}
              .media__overlay{data: {'js': 'media-overlay'}}
                .bttn__container{data: {'js': 'play-video'}}
                  .bttn
                    %figure.front{data: {'js': 'button-front'}}
                      Play
                    %figure.back{data: {'js': 'button-back'}}
                      Video

            .media.spacer-b-small{data: {'js': 'media-object'}}
              %video{preload: "none", poster: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d__media__poster-2.png"}
                %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/kucz8djzzhrnjm7/r_and_d__media-2.mov"}
              .media__overlay{data: {'js': 'media-overlay'}}
                .bttn__container{data: {'js': 'play-video'}}
                  .bttn
                    %figure.front{data: {'js': 'button-front'}}
                      Play
                    %figure.back{data: {'js': 'button-back'}}
                      Video
            .media.spacer-b-small{data: {'js': 'media-object'}}
              %video{preload: "none", poster: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d__media__poster-3.png"}
                %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/6c8u6011yj9dtob/r_and_d__media-3.mov"}
              .media__overlay{data: {'js': 'media-overlay'}}
                .bttn__container{data: {'js': 'play-video'}}
                  .bttn
                    %figure.front{data: {'js': 'button-front'}}
                      Play
                    %figure.back{data: {'js': 'button-back'}}
                      Video
            .media.spacer-b-small{data: {'js': 'media-object'}}
              %video{preload: "none", poster: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/r_and_d__media__poster-4.png"}
                %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/r1329per5ih31kw/r_and_d__media-4.mov"}
              .media__overlay{data: {'js': 'media-overlay'}}
                .bttn__container{data: {'js': 'play-video'}}
                  .bttn
                    %figure.front{data: {'js': 'button-front'}}
                      Play
                    %figure.back{data: {'js': 'button-back'}}
                      Video

%section.project.spacer-y-mega#time_spent
  .project__intro
    .grid-container
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Time Spent
              .description-block__label
                Website
              .description-block__label
                2017

          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              For the last couple of years I have worked with Time Spent to provide an online home for their growing project. Time Spent is a collaboration between a rap artist, designer Ronin Wood, and videographer Matthew Thompson, to capture the rapper in their purest form: No Beats, No Hook, No Music, No Cuts. We are currently working on a new website.
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Role
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Designer, Front-end Developer
      .description-block
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Credits
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main
              .type-large.grey-800.type-serif
                Ronin Wood
              .type-tiny.grey-500.type-sans--book
                Creative Direction
  .project__content.spacer-t-large
    .grid-container 
      .grid-row
        .col-20-24.col-sm-18-24
          .browser
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/timespent-2.png", :alt => "", class: "w100p"}/
      .grid-row
        .col-offset-4-24.col-20-24.col-offset-sm-6-24.col-sm-18-24
          .browser.pull-up
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/timespent-1.png", :alt => "", class: "w100p"}/

      .grid-row
        .col-20-24.col-sm-18-24
          .browser.pull-up
            .browser__inner
              %img{:src => "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/timespent-3.png", :alt => "", class: "w100p"}/
      .grid-row
        .spacer-t-large
          .centered-object
            %a{:href => "http://timespent.biz/", target: "_blank"}
              .bttn__container
                .bttn
                  %figure.front{data: {'js': 'button-front'}}
                    Coming
                  %figure.back{data: {'js': 'button-back'}}
                    Soon


%section.spacer-t-mega#about
  .about__me
    .grid-container
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                About

          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Curious, relaxed, creative type of person. Continually inspired, consummate learner, interested in mixing code and design to make expressive web experiences. Likes to cook, loves comedy, improv on the side, avid podcast listener/talk-about-er. Turkey, egg, and cheese on everything. Untoasted.
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Skills
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              %ul
                %li
                  Visual Product Design
                %li
                  User Experience Design
                %li
                  Prototyping
                %li
                  Front-end Development
                %li
                  Illustration
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Education
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              BFA Graphic Design,
              %br/
              Maryland Institute College of Art
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Currently
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Product Designer,
              %a{:href => "http://kickstarter.com/", target: "_blank", class: "link"}
                Kickstarter
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                2013 &ndash; 2014
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              Intern,
              %a{:href => "http://friendsoftheweb.com/", target: "_blank", class: "link"}
                Friends of The Web
      .description-block.spacer-b-medium
        .grid-row
          .col-22-24.col-sm-5-24.col-offset-1-24.col-md-4-24.col-offset-lg-0-24
            .description-block__aside.type-sans--book.type-small.grey-600
              .description-block__label
                Next
          .col-22-24.col-offset-1-24.col-sm-16-24.col-md-17-24.col-lg-16-24.col-offset-lg-0-24
            .description-block__main.type-large.grey-800.type-serif
              I’m looking for an opportunity where I can learn from excellent people, solve complex problems, and produce really great work. If you feel like we might be a fit, please reach out. Thanks!
      .grid-row
        .spacer-y-mega
          .centered-object
            %a{:href => "https://mail.google.com/mail/?view=cm&fs=1&to=jacksonthatsme@gmail.com&su=%3Awave%3A", target: "_blank"}
              .bttn__container
                .bttn
                  %figure.front{data: {'js': 'button-front'}}
                    Email
                  %figure.back{data: {'js': 'button-back'}}
                    Me
        .col-center.col-22-24.col-lg-full
          .spacer-b-small
            .justify-between
              .type-tiny.type-sans--medium.grey-500
                Jackson Lynch
              .type-tiny.type-sans--medium.grey-500
                &copy; 2017         
