---
layout: default
---
  

<ul class="thumbnails">
  {% for post in site.posts %}
    <li class="thumbnail" style="background-color:pink;">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="information">
          <img src="{{post.logo}}" alt="{{post.title}}" class="thumb-logo" />
          <div class="tags">
            {% for tag in post.tags %}
              <h5 class="tag">{{tag}}</h5>
            {% endfor %}
          </div>
        </div>
        <img src="{{post.thumbnail}}" class="thumb-img" />
      </a>
    </li>
  {% endfor %}
</ul>

