<section class='about margin-container grid-container' data-section='about'>
  <div class='about__title'>
    About me
  </div>
  <div class='about__image'>
    <img alt='' src='/assets/images/Headshot.jpg'>
    <div class='about__image__attr'>
      Photo by my bestest buddy <a href="https://micahewood.com/">Micah E. Wood</a>.
    </div>
  </div>
  <div class='about__body'>
    <div class='about__body__text'>
      I am a multi-disciplinary designer and design leader who specializes in starting things from scratch. I have a degree in graphic design and over 7 years of professional design experience, working on digital products, websites, branding and events. I was previously the Director of Product Design at <a href="https://theinfatuation.com/ ">The Infatuation</a> & <a href="https://www.zagat.com/">Zagat</a>. Before that, I’ve spent time designing at <a href="https://work.co/">Work & Co</a>, <a href="https://www.kickstarter.com/">Kickstarter</a>, and <a href="https://friendsoftheweb.com/">Friends of The Web</a>. I am proudly black, proudly queer, and I bring an expanded worldview to every team and every project I work on. I’m a happy New Yorker, avid podcast listener, great at 'naming that actor.' My favorite foods are of the dumpling variety: soup dumplings, pierogies, samosas; you know the type.
    </div>
    <div class='about__body__title'>
      Skills that pay the bills
    </div>
    <ul class='about__body__list'>
      <li class='about__body__list__item'>
        Visual Product Design
      </li>
      <li class='about__body__list__item'>
        User Experience Design
      </li>
      <li class='about__body__list__item'>
        Prototyping
      </li>
      <li class='about__body__list__item'>
        Front-end Development
      </li>
      <li class='about__body__list__item'>
        Information Architecture
      </li>
      <li class='about__body__list__item'>
        Design Systems
      </li>
      <li class='about__body__list__item'>
        Product Strategy
      </li>
      <li class='about__body__list__item'>
        Qualitative Research
      </li>
      <li class='about__body__list__item'>
        Usability Testing
      </li>
      <li class='about__body__list__item'>
        Design Direction
      </li>
      <li class='about__body__list__item'>
        Project Planning
      </li>
    </ul>
  </div>
</section>
