%section.about.margin-container.grid-container{data: {section: "about"}}
  .about__title
    About me
  .about__image
    %img(src="/assets/images/Headshot.jpg" alt="")/
    .about__image__attr
      Photo by my bestest buddy Micah E. Wood
  .about__body
    .about__body__text
      I am a multi-disciplinary designer and product design leader who specializes in starting things from scratch. I have a background in graphic design and I’ve enjoyed working on websites, digital products, branding and events in my career. I am proudly black, proudly queer, and I bring an expanded worldview to every team and every project I work on. Give me the chance and I’ll tell you what's good on TV and fill your queue with podcast recommendations.
    .about__body__title
      Work experience
    .about__body__key
      The Infatuation & Zagat
    .about__body__value
      2017—Present
    .about__body__key
      Work & Co
    .about__body__value
      2017
    .about__body__key
      Kickstarter
    .about__body__value
      2014 — 2017
    .about__body__title
      Skills that pay the bills
    %ul.about__body__list
      %li.about__body__list__item
        Visual Product Design
      %li.about__body__list__item
        User Experience Design
      %li.about__body__list__item
        Prototyping
      %li.about__body__list__item
        Front-end Development
      %li.about__body__list__item
        Information Architecture
      %li.about__body__list__item
        Design Systems
      %li.about__body__list__item
        Product Strategy
      %li.about__body__list__item
        Qualitative Research
      %li.about__body__list__item
        Usability Testing
      %li.about__body__list__item
        Design Direction
      %li.about__body__list__item
        Project Planning
