<section class='about margin-container grid-container' data-section='about'>
  <div class='about__title'>
    About me
  </div>
  <div class='about__image'>
    <img alt='' src='/assets/images/Headshot.jpg'>
    <div class='about__image__attr'>
      Photo by my bestest buddy Micah E. Wood
    </div>
  </div>
  <div class='about__body'>
    <div class='about__body__text'>
      I am a multi-disciplinary designer and product design leader who specializes in starting things from scratch. I have a background in graphic design and I’ve enjoyed working on websites, digital products, branding and events in my career. I am proudly black, proudly queer, and I bring an expanded worldview to every team and every project I work on. Give me the chance and I’ll tell you what's good on TV and fill your queue with podcast recommendations.
    </div>
    <div class='about__body__title'>
      Work experience
    </div>
    <div class='about__body__key'>
      The Infatuation & Zagat
    </div>
    <div class='about__body__value'>
      2017 — Present
    </div>
    <div class='about__body__key'>
      Work & Co
    </div>
    <div class='about__body__value'>
      2017
    </div>
    <div class='about__body__key'>
      Kickstarter
    </div>
    <div class='about__body__value'>
      2014 — 2017
    </div>
    <div class='about__body__title'>
      Skills that pay the bills
    </div>
    <ul class='about__body__list'>
      <li class='about__body__list__item'>
        Visual Product Design
      </li>
      <li class='about__body__list__item'>
        User Experience Design
      </li>
      <li class='about__body__list__item'>
        Prototyping
      </li>
      <li class='about__body__list__item'>
        Front-end Development
      </li>
      <li class='about__body__list__item'>
        Information Architecture
      </li>
      <li class='about__body__list__item'>
        Design Systems
      </li>
      <li class='about__body__list__item'>
        Product Strategy
      </li>
      <li class='about__body__list__item'>
        Qualitative Research
      </li>
      <li class='about__body__list__item'>
        Usability Testing
      </li>
      <li class='about__body__list__item'>
        Design Direction
      </li>
      <li class='about__body__list__item'>
        Project Planning
      </li>
    </ul>
  </div>
</section>
