%section.project.is-closed{data: {js: "accordion__item", section: "conceptualizing-drip"}}
  .project__header{data: {js: "accordion__trigger"}}
    .project__title
      .project__name
        Conceptualizing Drip
      .project__timeline
        2017
    .project__action{data: {js: "accordion__action"}}
      %img(src="/assets/images/Icon--Carrot.svg" alt="")/
  .project__body-wrapper{data: {js: "accordion__content"}}
    .project__body
      .project__text
        In 2017, I was tapped to lead design efforts for a brand new product at Kickstarter, our first since the initial platform launched in 2009. Under the name Drip, we would now offer our creators a flexible funding model that could support their lives more holistically, and foster a deeper engagement with their fanbase. It was our intention to launch as a standalone native app that would allow creators to share their process and lives in an easier, richer, and more continuous way.
      .project__text
        %span.project__inline-label
          Role
        Lead Product Designer.
      .project__text
        %span.project__inline-label
          Responsibilities
        User Experience Design. User Interface Design. Product Ideation & Strategy. Evaluative Research. Usability Research. Prototyping.
      .project__text
        %span.project__inline-label
          Collaborators
        Zack Sears, Design Director.
      .project__media.project__media--inline.mobile--stacked.bg--yellow
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/DripStorySlides.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/9c86fwzkd937ygs/DripFundingPage.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
      .project__text
        We started with the public-facing creator page. We wanted to create an enticing and expansive palate for a creator to show off every facet of their work, almost like a portfolio. We also wanted to design a format that would effectively pitch the project to interested backers and demonstrate the value of their support.
      .project__media.project__media--inline.mobile--stacked.bg--turquise
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/j9b6fjy4kvy6dyh/DripFeedSwipe.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/k8mazflbof57hpu/DripFeedScroll.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
      .project__text
        This product, like Kickstarter’s core product, is a two sided marketplace. We needed to create an engaging view that would actively update a backer on the latest from the creators that they support, reinforcing the value they were receiving from the exchange. We tried two versions: one that proudly presented each contribution on their own screen, and one that leveraged a traditional feed.
      .project__media.project__media--inline.mobile--stacked.bg--orange
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/i6emk0kgxzj83jd/DripBroadcastView.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
      .project__text
        One of the biggest insights we learned from existing creators was that it was that it took too much effort to put together a project update worth sharing with their backers. We wanted to alleviate this impression and create a compelling experience that would motivate creators to share with their backers more casually and frequently.
