<section class='project is-closed' data-js='accordion__item' data-section='conceptualizing-drip'>
  <div class='project__header' data-js='accordion__trigger'>
    <div class='project__title'>
      <div class='project__name'>
        Conceptualizing Drip
      </div>
      <div class='project__timeline'>
        2017
      </div>
    </div>
    <div class='project__action' data-js='accordion__action'>
      <img alt='' src='/assets/images/Icon--Carrot.svg'>
    </div>
  </div>
  <div class='project__body-wrapper' data-js='accordion__content'>
    <div class='project__body'>
      <div class='project__text'>
        In 2017, I was tapped to lead design efforts for a brand new product at Kickstarter, our first since the initial platform launched in 2009. Under the name Drip, we would now offer our creators a flexible funding model that could support their lives more holistically, and foster a deeper engagement with their fanbase. It was our intention to launch as a standalone native app that would allow creators to share their process and lives in an easier, richer, and more continuous way.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Role
        </span>
        Lead Product Designer.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Responsibilities
        </span>
        User Experience Design. User Interface Design. Product Ideation & Strategy. Evaluative Research. Usability Research. Prototyping.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Collaborators
        </span>
        Zack Sears, Design Director.
      </div>
      <div class='project__media project__media--inline mobile--stacked bg--yellow'>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/DripStorySlides.png' preload>
            <source src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/DripStorySlides.mp4' type='video/mp4'>
          </video>
        </div>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/DripFundingPage.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/9c86fwzkd937ygs/DripFundingPage.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
      <div class='project__text'>
        We started with the public-facing creator page. We wanted to create an enticing and expansive palate for a creator to show off every facet of their work, almost like a portfolio. We also wanted to design a format that would effectively pitch the project to interested backers and demonstrate the value of their support.
      </div>
      <div class='project__media project__media--inline mobile--stacked bg--turquise'>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/DripFeedSwipe.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/j9b6fjy4kvy6dyh/DripFeedSwipe.mp4' type='video/mp4'>
          </video>
        </div>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/DripFeedScroll.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/k8mazflbof57hpu/DripFeedScroll.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
      <div class='project__text'>
        This product, like Kickstarter’s core product, is a two sided marketplace. We needed to create an engaging view that would actively update a backer on the latest from the creators that they support, reinforcing the value they were receiving from the exchange. We tried two versions: one that proudly presented each contribution on their own screen, and one that leveraged a traditional feed.
      </div>
      <div class='project__media project__media--inline mobile--stacked bg--orange'>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/DripBroadcastView.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/i6emk0kgxzj83jd/DripBroadcastView.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
      <div class='project__text'>
        One of the biggest insights we learned from existing creators was that it was that it took too much effort to put together a project update worth sharing with their backers. We wanted to alleviate this impression and create a compelling experience that would motivate creators to share with their backers more casually and frequently.
      </div>
    </div>
  </div>
</section>
