%section.project{data: {js: "accordion__item", section: "discovering-kickstarter"}}
  .project__header{data: {js: "accordion__trigger"}}
    .project__title
      .project__name
        Discovering Kickstarter
      .project__timeline
        2015 — 2016
    .project__action{data: {js: "accordion__action"}}
      %img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/Icon--Carrot.svg" alt="")/
  .project__body-wrapper{data: {js: "accordion__content"}}
    .project__body
      .project__text
        I worked with a small team of designers to conceptualize the future of Kickstarter, near and long-term. This project took us on a winding trail as we unraveled the product from conception to the present, analyzed everything, and synthesized our findings into a new iteration of the product that emphasized the power of the crowd. This nearly year-long process became an exhaustive reimagining of the entire platform: as a team we crafted an new UX patterns, overhauled the UI to fit, and introduced new motion principles.
      .project__text
        %span.project__inline-label
          Role
        Designer & prototyper.
      .project__text
        %span.project__inline-label
          Credits
        Nicole Yeo, Designer. Courtney Burton, Designer. Stefan Dufgran, Designer. Chris Wiggins, Creative Director. Zack Sears, Design Director. Olivier Gillaizeau, Design Director. Sarah Lim, Copywriter.
      .project__media.bg--yellow
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/umclxvhdt6w0jz5/Kickstarter-Project-Page.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
      .project__text
        It all started with recirculation. Our analytics were telling us that a majority of the traffic was coming in straight to a project page and bouncing. We started by investigating experience patterns that would frame an individual page as part of a larger lexicon of creativity on the site, and demonstrate the breadth of projects currently seeking funding. This lead us to “the stream.”
      .project__media.bg--turquise
        .project__media__stiched
          %img(src="/assets/images/KickstarterStream-01.png" alt="")/
          %img(src="/assets/images/KickstarterStream-02.png" alt="")/
          %img(src="/assets/images/KickstarterStream-03.png" alt="")/
      .project__media.bg--orange
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/xwndbhwrru8xx8w/Kickstarter-Chapters-02.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
      .project__text
        We looked for opportunities to artfully combine manually curated projects with algorithmically selected groupings and used them tell a coheasive and engaging story for our users. We sectioned our browsing experience into “Chapters”, subsets of projects contextualized around themes like “Trending” or “Reccomended for you.” We learned fairly quickly in user testing that these distinctions weren’t obviously recognizable, so we explored solutions for how to announce them.
      .project__media.bg--yellow
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/atypn74ku5wp3l0/Kickstarter-Inline-Collections.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
        .video-object{data: {'js': 'video-object'}}
          %video{preload: true, autoplay: true, muted: true, playsinline: true, loop: true}
            %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/bftmn9gbqyiykho/Kickstarter-Categories.mp4"}
          .video-object__overlay{data: {'js': 'video-overlay'}}
            .video__action-container{data: {'js': 'play-video'}}
              .video__action-button
                %figure.front{data: {'js': 'button-front'}}
                  Play
                %figure.back{data: {'js': 'button-back'}}
                  Video
      .project__text
        Ultimately, due to a change in leadership and concerns about feasibility and strategy, the bulk of this project was shelved. We made an exorcize of pulling out viable concepts and scoping them as projects on the roadmaps of various focus teams, but shifting priorities left those mostly unrealized as well. In the end, we learned a lot about conceptualizing the future of a product, but not a lot about actually getting us there.
