<section class='project is-closed' data-js='accordion__item' data-section='discovering-kickstarter'>
  <div class='project__header' data-js='accordion__trigger'>
    <div class='project__title'>
      <div class='project__name'>
        Discovering Kickstarter
      </div>
      <div class='project__timeline'>
        2015 — 2016
      </div>
    </div>
    <div class='project__action' data-js='accordion__action'>
      <img alt='' src='/assets/images/Icon--Carrot.svg'>
    </div>
  </div>
  <div class='project__body-wrapper' data-js='accordion__content'>
    <div class='project__body'>
      <div class='project__text'>
        In 2015, I worked with a small team of designers to conceptualize the future of Kickstarter, near and long-term. This project took us on a winding trail as we unraveled the product from conception to the present, analyzed everything, and synthesized our findings into a new iteration of the product that emphasized the power of the crowd. This nearly year-long process became an exhaustive reimagining of the entire platform. As a team we crafted new UX patterns, overhauled the UI to fit, and introduced new motion principles.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Role
        </span>
        Product Designer.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Responsibilities
        </span>
        User Experience Design. User Interface Design. Motion Design. Product Ideation. Usability Research. Prototyping.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Credits
        </span>
        Nicole Yeo, Designer. Courtney Burton, Designer. Stefan Dufgran, Designer. Chris Wiggins, Creative Director. Zack Sears, Design Director. Olivier Gillaizeau, Design Director. Sarah Lim, Copywriter.
      </div>
      <div class='project__media bg--yellow'>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/Kickstarter-Project-Page.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/umclxvhdt6w0jz5/Kickstarter-Project-Page.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
      <div class='project__text'>
        It all started with recirculation. Our analytics were telling us that a majority of the traffic was coming in to a project page and then bouncing. We started by investigating experience patterns that would frame an individual page as part of a larger lexicon of creativity on the site, and demonstrate the breadth of projects currently seeking funding. This lead us to “the stream.”
      </div>
      <div class='project__media bg--turquise'>
        <div class='project__media__image'>
          <img alt='' src='/assets/images/KickstarterStream-01.png'>
          <img alt='' src='/assets/images/KickstarterStream-02.png'>
          <img alt='' src='/assets/images/KickstarterStream-03.png'>
        </div>
      </div>
      <div class='project__text'>
        “The stream”, as opposed to a feed, would be a leisurely browsing experience, giving projects an individual moment to shine and providing opportunities for us to contextualize them. We investigated concepts like badging, tagging, endorsing, and social influence as a way to frame the relevance and timeliness of a project and boost engagement with it.
      </div>
      <div class='project__media bg--orange'>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/Kickstarter-Chapters-02.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/xwndbhwrru8xx8w/Kickstarter-Chapters-02.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
      <div class='project__text'>
        We looked for opportunities to artfully combine manually curated projects with algorithmically selected groupings and use them tell a cohesive story for our users. We sectioned our browsing experience into “Chapters”, subsets of projects contextualized around themes like “Trending” or “Recommended for you.” We learned fairly quickly in user testing that these distinctions weren’t obviously recognizable, so we explored solutions for how to better distinguish them.
      </div>
      <div class='project__media bg--yellow'>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/Kickstarter-Inline-Collections.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/atypn74ku5wp3l0/Kickstarter-Inline-Collections.mp4' type='video/mp4'>
          </video>
        </div>
        <div class='project__video' data-js='video-object'>
          <video autoplay loop muted playsinline poster='/assets/images/Kickstarter-Categories.png' preload>
            <source src='https://dl.dropboxusercontent.com/s/bftmn9gbqyiykho/Kickstarter-Categories.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
      <div class='project__text'>
        Ultimately, due to a change in leadership and strategy as well as concerns with feasibility, the bulk of this project was shelved. We made an exercise of pulling out viable concepts and scoping them as discrete projects, but shifting priorities left those mostly unrealized as well. In the end, we learned a lot about conceptualizing the future of a product, but not a lot about actually getting it done.
      </div>
    </div>
  </div>
</section>
