<section class='footer' data-section='contact'>
  <div class='margin-container grid-container'>
    <div class='footer__body'>
      <div class='footer__title'>
        Get in touch
      </div>
      <div class='footer__text'>
        I’m pretty set at my current gig, but I’m always open to collaborate on something fun or just grab a tea and talk design. Hit me up with an email anytime!
      </div>
      <div class='footer__title'>
        <a href='mailto:jacksonthatsme@gmail.com'>
          jacksonthatsme@gmail.com
        </a>
      </div>
      <ul class='footer__list'>
        <li class='footer__list__item'>
          <a href='https://www.instagram.com/jackson.thats.me'>
            Instagram
          </a>
        </li>
        <li class='footer__list__item'>
          <a href='https://twitter.com/JacksonThatsMe'>
            Twitter
          </a>
        </li>
        <li class='footer__list__item'>
          <a href='https://www.linkedin.com/in/jackson-lynch-2b998654/'>
            LinkedIn
          </a>
        </li>
        <li class='footer__list__item'>
          <a href='https://open.spotify.com/user/jacksonthatsme?si=KB4Unz7mTsiRuR7bAOnC_w'>
            Spotify
          </a>
        </li>
      </ul>
    </div>
    <img alt='' class='footer__graphic' src='/assets/images/PeaceSign.svg'>
    <div class='footer__copyright'>
      &copy; 2023 Jackson Lynch
    </div>
  </div>
</section>
