%section.footer{data: {section: "contact"}}
  .margin-container.grid-container
    .footer__body
      .footer__title
        Get in touch
      .footer__text
        I’m pretty set at my current gig, but I’m always open to talk design, collaborate on something fun, or even grab coffee. Get
      .footer__title
        %a(href="")
          jacksonthatsme@gmail.com
      %ul.footer__list
        %li.footer__list__item
          %a(href="")
            Instagram
        %li.footer__list__item
          %a(href="")
            Twitter
        %li.footer__list__item
          %a(href="")
            LinkedIn
        %li.footer__list__item
          %a(href="")
            Spotify
    %img.footer__graphic(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/PeaceSign.svg" alt="")/
    .footer__copyright
      &copy; 2020 Jackson Lynch
