%section.footer{data: {section: "contact"}}
  .margin-container.grid-container
    .footer__body
      .footer__title
        Get in touch
      .footer__text
        I’m pretty set at my current gig, but I’m always open to collaborate on something fun or just grab a tea and talk design. Hit me up with an email anytime!
      .footer__title
        %a(href="mailto:jacksonthatsme@gmail.com")
          jacksonthatsme@gmail.com
      %ul.footer__list
        %li.footer__list__item
          %a(href="https://www.instagram.com/jackson.thats.me")
            Instagram
        %li.footer__list__item
          %a(href="https://twitter.com/JacksonThatsMe")
            Twitter
        %li.footer__list__item
          %a(href="https://www.linkedin.com/in/jackson-lynch-2b998654/")
            LinkedIn
        %li.footer__list__item
          %a(href="https://open.spotify.com/user/jacksonthatsme?si=KB4Unz7mTsiRuR7bAOnC_w")
            Spotify
    %img.footer__graphic(src="/assets/images/PeaceSign.svg" alt="")/
    .footer__copyright
      &copy; 2020 Jackson Lynch
