%section.intro
  %header.site__header.margin-container
    .site__header--left
      Jackson Lynch
    .site__header--right
      %ul.header__menu
        %li.header__menu__item.show-on-mobile{data: {js: "scroll-to-section", slug: "projects"}}
          Projects
        %li.header__menu__item{data: {js: "scroll-to-section", slug: "about"}}
          About
        %li.header__menu__item{data: {js: "scroll-to-section", slug: "contact"}}
          Contact

  .flag__wrapper
    .flag__container
      %video{autoplay: true, muted: true, playsinline: true, loop: true, preload: true}
        %source{type: "video/mp4", src: "https://dl.dropboxusercontent.com/s/tdphw0mxo408r4h/Flag.mp4"}
  .site-menu
    .site-menu__title
      Projects
    %ul.site-menu__list
      %li.site-menu__list__item
        .site-menu__list__item__link{data: {js: "scroll-to-section", slug: "reimagining-zagat"}}
          Re-imagining Zagat
      %li.site-menu__list__item
        .site-menu__list__item__link{data: {js: "scroll-to-section", slug: "conceptualizing-drip"}}
          Conceptualizing Drip
      %li.site-menu__list__item
        .site-menu__list__item__link{data: {js: "scroll-to-section", slug: "kickstarter-storytelling"}}
          Kickstarter Storytelling
      %li.site-menu__list__item
        .site-menu__list__item__link{data: {js: "scroll-to-section", slug: "discovering-kickstarter"}}
          Discovering Kickstarter
