<section class="intro">
  <header class="site__header margin-container">
    <div class="site__header--left">
      Jackson Lynch
    </div>
    <div class="site__header--right">
      <ul class="header__menu">
        <li class="header__menu__item" data-js="scroll-to-section" data-slug="about">
          About
        </li>
        <li class="header__menu__item" data-js="scroll-to-section" data-slug="contact">
          Contact
        </li>
      </ul>
    </div>
  </header>
  <div class="flag__wrapper">
    <div class="flag__container">
      <video autoplay muted playsinline loop preload poster="/assets/images/Flag.png">
        <source type="video/mp4" src="https://dl.dropboxusercontent.com/s/if1k94whv5k5r1g/Flag.mp4">
      </video>
    </div>
  </div>
  <div class="site-menu">
    <div class="site-menu__title">
      Experience
    </div>
  </div>
</section>
