%section.project{data: {js: "accordion__item", section: "reimaging-zagat"}}
  .project__header{data: {js: "accordion__trigger"}}
    .project__title
      .project__name
        Reimaging Zagat
      .project__timeline
        Ongoing
    .project__action{data: {js: "accordion__action"}}
      %img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/61092/Icon--Carrot.svg" alt="")/
  .project__body-wrapper{data: {js: "accordion__content"}}
    .project__body
      .project__text
        In 2018, The Infatuation bought Zagat from Google, and ever since then our product team has been
