%section.project{data: {js: "accordion__item", section: "reimagining-zagat"}}
  .project__header{data: {js: "accordion__trigger"}}
    .project__title
      .project__name
        Re-imagining Zagat
      .project__timeline
        Ongoing
    .project__action{data: {js: "accordion__action"}}
      %img(src="/assets/images/Icon--Carrot.svg" alt="")/
  .project__body-wrapper{data: {js: "accordion__content"}}
    .project__body
      .project__text
        In 2018 The Infatuation bought Zagat from Google. Ever since then, our product team has been hard at work on a brand new platform where passionate restaurant-goers can share their experiences at their favorite places and others can benefit from their recommendations and advice. The new Zagat is slated to drop later this year, and we can’t wait to share what we’ve built!
      .project__text
        %span.project__inline-label
          Role
        Lead Product Designer.
      .project__text
        %span.project__inline-label
          Responsibilities
        Market Research. Evaluative Research. Usability Research. Product Ideation & Strategy. User Experience Design. User Interface Design. Prototyping. Design Systems.
      .project__text
        %span.project__inline-label
          Collaborators
        Jane Park, Product Management Director. Matt Clifton, Product Designer. Jorge Davilla, Engineering Manager. Brett East, Senior Product Engineer. Henry Millison, Product Engineer. Steve Young, Platform Engineer.
