<section class="project" data-js="accordion__item" data-section="reimagining-zagat">
  <div class="project__header" data-js="accordion__trigger">
    <div class="project__title">
      <div class="project__name">
        Re-imagining Zagat
      </div>
      <div class="project__timeline">
        Ongoing
      </div>
    </div>
    <div class="project__action" data-js="accordion__action">
      <img src="/assets/images/Icon--Carrot.svg" />
    </div>
  </div>
  <div class="project__body-wrapper" data-js="accordion__content">
    <div class="project__body">
      <div class="project__logo bg--burgandy">
        <img src="/assets/images/ZagatLogo.svg"/>
      </div>
      <div class="project__text">
        In 2018 The Infatuation bought Zagat from Google. Ever since then, our product team has been hard at work on a brand new platform where passionate restaurant-goers can share their experiences at their favorite places and others can benefit from their recommendations and advice. The new Zagat is slated to drop later this year, and we can’t wait to share what we’ve built!
      </div>
      <div class="project__text">
        <span class="project__inline-label">Role</span>
        Lead Product Designer.
      </div>
      <div class="project__text">
        <span class="project__inline-label">Responsibilities</span>
        Market Research. Evaluative Research. Usability Research. Product Ideation & Strategy. User Experience Design. User Interface Design. Prototyping. Design Systems. Product Copywriting.
      </div>
      <div class="project__text">
        <span class="project__inline-label">Collaborators</span>
        Jane Park, Product Management Director. Matt Clifton, Product Designer. Jorge Davilla, Engineering Manager. Brett East, Senior Product Engineer. Henry Millison, Product Engineer. Steve Young, Platform Engineer.
      </div>
    </div>
  </div>
</section>
