<section class='project is-closed' data-js='accordion__item' data-section='zagat-stories'>
  <div class='project__header' data-js='accordion__trigger'>
    <div class='project__title'>
      <div class='project__name'>
        Zagat Stories
      </div>
      <div class='project__timeline'>
        2019 — 2020
      </div>
    </div>
    <div class='project__action' data-js='accordion__action'>
      <img src='/assets/images/Icon--Carrot.svg'>
    </div>
  </div>
  <div class='project__body-wrapper' data-js='accordion__content'>
    <div class='project__body'>
      <div class='project__text'>
        While we have been working on the new Zagat product, we wanted to find a way of re-establishing the Zagat brand as well as build a deeper report with the restaurant community. Due to resource constraints and an ambitious timeline, I knew we would need some outside help. I tapped Kevin Zweerink of <a target="_blank" href="https://currently.studio/">Currently.Studio</a> to lend his expertise.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Role
        </span>
        Design Director.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Responsibilities
        </span>
        Design Direction. Project Planning & Scoping. Contractor Coordination.
      </div>
      <div class='project__text'>
        <span class='project__inline-label'>
          Collaborators
        </span>
        Kevin Zweerink, Designer. Jane Park, Product Management Director. Brett East, Senior Product Engineer. Henry Millison, Product Engineer.
      </div>
      <div class='project__media bg--yellow'>
        <div class='project__video' data-js='video-object'>
          <video loop muted playsinline poster='/assets/images/ZagatStoriesHomepage.jpg' preload="none">
            <source src='https://dl.dropboxusercontent.com/s/3abm4ihkunkya9j/ZagatStoriesHomepage.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
      <div class='project__text'>
        Earlier that year, we worked with <a target="_blank" href="https://franklyn.co/">Franklyn</a> to re-establish the visual branding, and this site would serve as its first major application. We created an editorial experience that honored the tradition of Zagat and thoughtfully structured our new content, all while providing high value opportunities for advertising and partnerships.
      </div>
      <div class='project__media bg--orange'>
        <div class='project__media__image'>
          <img src='/assets/images/ZagatStoriesVideoArticle.jpg'>
        </div>
        <div class='project__video' data-js='video-object'>
          <video loop muted playsinline poster='/assets/images/ZagatStoriesArticle.jpg' preload="none">
            <source src='https://dl.dropboxusercontent.com/s/qpz79f1yfp6pnr9/ZagatStoriesArticle.mp4' type='video/mp4'>
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
