// ------------------------------------------------------------------
// VARIABLES: Breakpoints
// ------------------------------------------------------------------

$BP--XL: 1400px;
$BP--L: 1080px;
$BP--M: 740px;
$BP--S: 500px;
$BP--XS: 375px;
