// ------------------------------------------------------------------
// VARIABLES: Grid
// ------------------------------------------------------------------

$max-width: $BP--XL;
$min-width: $BP--XS;

$max-margin: 60px;
$min-margin: 20px;
$max-gutter: 30px;
$min-gutter: 15px;
$columns: 16;
