// ------------------------------------------------------------------
// VARIABLES: Colors
// ------------------------------------------------------------------

$black: #000000;
$grey500: #CECECE;
$yellow: #FFE51E;
$turquise: #2BDAB0;
$orange: #FF7F58;
$burgandy: #960335;
