/* COLOR */
$_black: rgb(6,34,60);
/* VARIABLES */
$raleway: 'Raleway', sans-serif;

/* MIXINS */

/* BASE */
body{
  font-family: "Clarendon";
  font-size: 15px;
  color: $_black;
}
.icon{
  font-family: 'jacksonthatsicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
}
a{
  border-bottom: .1em solid $_black;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, border-color 0.2s;
  &:hover, &:focus{
    border-color: $_black;
    background-color: lighten($_black, 80%);
  }
}
.clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
