.browser{
  background-color:lighten($_black, 80%);
  border-radius: .3em;
  box-shadow: 0 0 20px rgba(255,255,255, 0.4);
}
.browser_bar{
  padding: .9em;
}
ul.buttons{
  display: inline-block;
  li{
    height: .7em;
    width: .7em;
    border-radius: 50%;
    background-color: lighten($_black, 30%);
    display: inline-block;
    padding: 0 .3em 0 0;
  }
}
.input{
  display: inline-block;
  padding: .5em;
  width: 100%;
  background-color: white;
  font-family: $raleway;
  font-weight: 500;
  font-size: .8em;
}