@font-face {
  font-family: "Clarendon";
  font-weight: 900;
  src: url(type/filename.eot);
  src: local("☺"),
    url('../webfonts/2B47CE_2_0.eot') format('embedded-opentype'),
    url("../webfonts/2B47CE_2_0.woff") format("woff"),
    url('../webfonts/2B47CE_2_0.ttf') format('truetype');
  }
@font-face {
  font-family: "Clarendon";
  font-weight: 500;
  src: url(type/filename.eot);
  src: local("☺"),
    url('../webfonts/2B47CE_1_0.eot') format('embedded-opentype'),
    url("../webfonts/2B47CE_1_0.woff") format("woff"),
    url('../webfonts/2B47CE_1_0.ttf') format('truetype');
  }
@font-face {
  font-family: "Clarendon";
  font-weight: 200;
  src: url(type/filename.eot);
  src: local("☺"),
    url('../webfonts/2B47CE_0_0.eot') format('embedded-opentype'),
    url("../webfonts/2B47CE_0_0.woff") format("woff"),
    url('../webfonts/2B47CE_0_0.ttf') format('truetype');
  }
@font-face {
	font-family: 'jacksonthatsicons';
	src:url('../webfonts/jacksonthatsicons.eot?-edrx51');
	src:url('../webfonts/jacksonthatsicons.eot?#iefix-edrx51') format('embedded-opentype'),
		url('../webfonts/jacksonthatsicons.woff?-edrx51') format('woff'),
		url('../webfonts/jacksonthatsicons.ttf?-edrx51') format('truetype'),
		url('../webfonts/jacksonthatsicons.svg?-edrx51#jacksonthatsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}