.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 3%;
  margin: 0 auto;
}
.column{
  width: 49%;
}
.left{
  float: left;
  margin-right: 1%;
}
.right{
  float: right;
}
img{
  width: 100%;
}
.right-align{
  text-align: right;
}