nav{
  ul{
    li{
      padding: 0 1em 0 0;
      &.active{
        font-weight: 900;
      }
      font-weight:200;
      display: inline-block;
      a{
        &:hover{
        }
      }
    }
  }
}