.caption{
  margin: 1em 0 0 0;
  &::before{
    @extend .icon;
    content: "dagger";
    display: inline-block;
  }
  @extend .cf;
}
.project_image{
  margin: 6em 0 0 0;
  clear: both;
  display: block;
}
.with_background{
  padding: 2em 0;
}
.with_browser{
}