// ------------------------------------------------------------------
// UTILITIES: Backgrounds
// ------------------------------------------------------------------

.bg {
  &--grey500 {
    background-color: $grey500;
  }
  &--yellow {
    background-color: $yellow;
  }
  &--turquise {
    background-color: $turquise;
  }
  &--orange {
    background-color: $orange;
  }
  &--burgandy {
    background-color: $burgandy;
  }
}
