// ------------------------------------------------------------------
// UTILITIES: Animations
// ------------------------------------------------------------------

@-webkit-keyframes bttn-flip {
  from {-webkit-transform: rotateY(0deg);}
  to {-webkit-transform: rotateY(360deg);}
}

@keyframes bttn-flip {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(360deg);}
}
