---
layout: frame
---

{% include intro.html %}
{% include resume-row.html company="Google Creative Lab" role="Designer" timeframe="2021 – Present" %}
{% include resume-row.html company="Zagat / The Infatuation" role="Director of Product Design" timeframe="2020 – 2021" %}
{% include resume-row.html company="Zagat / The Infatuation" role="Senior Product Designer" timeframe="2017 – 2020" %}
{% include resume-row.html company="Work & Co" role="Designer" timeframe="2017" %}
{% include resume-row.html company="Kickstarter" role="Product Designer" timeframe="2014 – 2017" %}
{% include about.html %}
{% include footer.html %}
